<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clique <%=roomIndex%></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/output.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
</head>
<body class="bg-background-100  h-dvh flex">
    
    <%- include("./partials/sidebar.ejs") %>

    <div id="counter-banner" class="fixed inset-0 hidden justify-center items-center bg-background/50 backdrop-blur-sm z-40">
        <div class="p-12 w-full bg-accent-blue text-sm text-white rounded-sm flex justify-center items-center">
            <p id="banner-num" class="text-3xl sm:text-6xl font-bold"></p>
        </div>
    </div>





    <div class="hide-scrollbar relative min-h-dvh flex-1 flex flex-col w-full">

        <div class="w-full bg-background text-text-primary flex items-center justify-start gap-3 lg:hidden p-3"> 
            <i id="open-mobile-sidebar" class="fa-solid text-accent-blue text-2xl fa-bars cursor-pointer"></i>
            <p id="roomName"><%= roomIndex %></p>
        </div>

        <%- include("./partials/questionDisplay.ejs") %>
        <div class="absolute w-full h-full bg-background-100/80 backdrop-blur-3xl flex justify-center items-center -z-10"></div>
        <div class="absolute w-full h-full flex justify-center items-center -z-20 overflow-hidden">
            <div id="pulser" class="blob bg-accent-blue w-80 h-80 rounded-full animate-pulse"></div>
        </div>

        <div class="flex-1 w-full overflow-y-auto hide-scrollbar p-2 sm:p-6 space-y-2">
            <div id="chatContainer" class="flex-1 sm:text-xs text-base w-full overflow-y-auto hide-scrollbar space-y-2">

            <!-- everything else -->
            </div>
            
            <div id="message-loader" class="w-full hidden gap-2 justify-end">
                <div class="w-20 h-10 text-white rounded-sm bg-accent-blue">
                    <div class="w-full h-full flex top-0 left-0 justify-center items-center gap-2">
                        <div class="dot w-2 h-2 rounded-full bg-white"></div>
                        <div class="dot w-2 h-2 rounded-full bg-white"></div>
                        <div class="dot w-2 h-2 rounded-full bg-white"></div>
                    </div>
                </div>
            </div>

        </div>

        



        <%- include("./partials/questionForm.ejs")  %>
        <%- include("./partials/messageInput.ejs")  %>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
        <script>
            toastr.options = {
                "positionClass": "toast-top-center",
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "closeButton": true,
                "progressBar": true, 
                "preventDuplicates": true,
            };
        </script>
        <script src="/socket.io/socket.io.js"></script>
        <script type="module" src="/js/cliqueManager.js"></script>
        <script type="module" src="/js/reconnectSocket.js"></script>
    </div>
</body>
</html>